In [344]:
import pandas as pd
import json
import ast 
#importar dataset
movies=pd.read_csv('movies_dataset.csv',sep=',')
movies.head()

C:\Users\Jose\AppData\Local\Temp\ipykernel_1324\545809220.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_dataset.csv',sep=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [88]:
#desanidar las columnas belongs_to_collection, production_companies
"""def fetch_name(obj): 
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
    
def fetch_name2(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        # print(obj)
        dic = ast.literal_eval(obj)

        return dic['name']
    

    

movies['genres']                = movies['genres'].apply(fetch_name)
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(fetch_name2)
movies['production_companies']  = movies['production_companies'].apply(fetch_name)
movies['production_countries']  = movies['production_countries'].apply(fetch_name)
movies['spoken_languages']      = movies['spoken_languages'].apply(fetch_name)---"""


#df=movies['belongs_to_collection'].apply(pd.Series)

"def fetch_name(obj): \n    if isinstance(obj, str) and '{' in obj:\n        L=[]\n        for i in ast.literal_eval(obj):\n            L.append(i['name']);\n        return L\n    \ndef fetch_name2(obj): \n    \n    if isinstance(obj, str) and '{' in obj:\n        # print(obj)\n        dic = ast.literal_eval(obj)\n\n        return dic['name']\n    \n\n    \n\nmovies['genres']                = movies['genres'].apply(fetch_name)\nmovies['belongs_to_collection'] = movies['belongs_to_collection'].apply(fetch_name2)\nmovies['production_companies']  = movies['production_companies'].apply(fetch_name)\nmovies['production_countries']  = movies['production_countries'].apply(fetch_name)\nmovies['spoken_languages']      = movies['spoken_languages'].apply(fetch_name)---"

In [345]:
def convertir1(object):  ## funciona con genres, 
    Lista = []
    for i in ast.literal_eval(object):
        Lista.append(i['name'])
    return Lista

movies["genres"]=movies["genres"].apply(convertir1) #desanidamos genres y extraemos names

In [346]:
#esta funcion sirve para lista de diccionarios con string
def convertir2(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        dic = ast.literal_eval(obj)

        return dic['name']
## desanido bellongs
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(convertir2)

In [347]:
#desanidar production_companies
def convertir3(obj): 
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
movies['production_companies'] = movies['production_companies'].apply(convertir3)

In [348]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [349]:
#creamos una copia del data frame por si sucede alguna eventualidad
movies2=movies

In [351]:
#reemplazamos los valores nulos de las columnas budget y revenue por cero en nuestro data frame movies 2
movies2['budget']=movies2['budget'].fillna(0)
movies2['revenue']=movies2['revenue'].fillna(0)

In [352]:
movies2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [353]:
#se eliminan los valor nulos de la columna release date
movies2=movies2.dropna(subset=['release_date'])

In [354]:
#estos valores no tenian sentido dentro del dataframe por lo tanto pocedo a eliminarlos

movies2=movies2.drop(movies2[movies2['release_date']=='False'].index)
movies2=movies2.drop(movies2[movies2['release_date']=='Warlock'].index)
movies2=movies2.drop(movies2[movies2['release_date']=='Kung Pow: Enter the Fist'].index)
movies2=movies2.drop(movies2[movies2['release_date']==1].index)
movies2=movies2.drop(movies2[movies2['release_date']=='1'].index)
movies2=movies2.drop(movies2[movies2['release_date']==13].index)
movies2=movies2.drop(movies2[movies2['release_date']==2].index)
movies2=movies2.drop(movies2[movies2['release_date']==5.0].index)
movies2=movies2.drop(movies2[movies2['release_date']==4.6].index)
movies2=movies2.drop(movies2[movies2['release_date']==7.3].index)
movies2=movies2.drop(movies2[movies2['release_date']==6.6].index)
movies2=movies2.drop(movies2[movies2['release_date']==5.1].index)
movies2=movies2.drop(movies2[movies2['release_date']==6.4].index)
movies2=movies2.drop(movies2[movies2['release_date']=='/xGiaXH17qJyk5cy2gRcHJvEGIqZ.jpg'].index)
movies2=movies2.drop(movies2[movies2['release_date']=='Beauty and the Bastard'].index)
movies2=movies2.drop(movies2[movies2['release_date']=='Bye-Bye Bin Laden'].index)
movies2=movies2.drop(movies2[movies2['release_date']=='/u6YDFe0ix9hMtQeD4ASOXC15I21.jpg'].index)
movies2=movies2.drop(movies2[movies2['release_date']=='Trog'].index)
movies2 = movies2.drop(movies2[movies2['release_date'] == 0].index)

In [355]:
movies2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [356]:
movies2['release_date']=pd.to_datetime(movies2['release_date'],format='%Y-%m-%d',errors='coerce')

In [357]:
#crear la columna release_year
movies2['release_year']=movies2['release_date'].dt.year

In [358]:
#convertimos los datos en datos numericos para realizar las operaciones
import numpy as np  
movies2['revenue']=pd.to_numeric(movies2['revenue'],errors='coerce')
movies2['budget']=pd.to_numeric(movies2['budget'],errors='coerce')

In [359]:
#creamos la columna return con la operacion que se indico.
movies2['return']=movies2['revenue']/movies2['budget']
movies2['return']=movies2['return'].fillna(0)
movies2['return'].head()

0    12.451801
1     4.043035
2     0.000000
3     5.090760
4          inf
Name: return, dtype: float64

In [360]:
movies2['poster_path'].head()

0    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1    /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2    /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3    /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4    /e64sOI48hQXyru7naBFyssKFxVd.jpg
Name: poster_path, dtype: object

In [361]:
#eliminamos las columnas innecesarias. 
movies2=movies2.drop(['video','imdb_id','adult','original_title','vote_count','poster_path','homepage'],axis=1)

In [362]:
movies2.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995.0,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995.0,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,inf

In [363]:
#primera funcion
def peliculas_mes(movies2, mes):
    # Diccionario para convertir el nombre del mes en español a su número
    meses = {'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4, 'mayo': 5, 'junio': 6,
             'julio': 7, 'agosto': 8, 'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12}
    # Convierte el nombre del mes en español a su número
    mes_numero = meses.get(mes.lower())
    # Verifica si el mes es válido
    if mes_numero is None:
        return f"Error: Mes '{mes}' no válido"
    # Filtra el DataFrame por el mes especificado
    filtro = movies2[movies2['release_date'].dt.month == mes_numero]
    # Cuenta el número de películas
    count = filtro['title'].count()
    # Devuelve el resultado en el formato especificado
    result = {'mes': mes.capitalize(), 'cantidad': count}
    return result

In [364]:
result = peliculas_mes(movies2, 'junio')
print(result)

{'mes': 'Junio', 'cantidad': 3153}

In [365]:
def peliculas_dia(dia):
    # Crea una lista con los días de la semana en español
    dias = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo']
    # Encuentra el índice del día especificado en la lista de días
    dia_index = dias.index(dia.lower())
    # Crea una columna con el día de la semana en el DataFrame
    movies2['dia_semana'] = movies2['release_date'].dt.dayofweek
    # Filtra el DataFrame por el día especificado
    filtro = movies2[movies2['dia_semana'] == dia_index]
    # Cuenta el número total de películas
    count = filtro['title'].count()
    # Devuelve el resultado en el formato especificado
    result = {'dia': dia.capitalize(), 'cantidad': count}
    return result

In [366]:
result = peliculas_dia('martes')
print(result)

{'dia': 'Martes', 'cantidad': 4641}

In [367]:
#tercera funcion
def franquicia(movies2, franquicia):
    # Filtra el DataFrame por la franquicia especificada
    filtro = movies2[movies2['belongs_to_collection'] == franquicia]
    # Cuenta el número de películas
    cantidad = filtro['title'].count()
    # Calcula la ganancia total
    ganancia_total = filtro['revenue'].sum()
    # Calcula la ganancia promedio
    ganancia_promedio = filtro['revenue'].mean()
    # Devuelve el resultado en el formato especificado
    result = {'franquicia': franquicia,
              'cantidad': cantidad,
              'ganancia_total': ganancia_total,
              'ganancia_promedio': ganancia_promedio}
    return result

In [368]:
result = franquicia(movies2, 'Toy Story Collection')
print(result)

{'franquicia': 'Toy Story Collection', 'cantidad': 3, 'ganancia_total': 1937890605.0, 'ganancia_promedio': 645963535.0}

In [369]:
movies2.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,dia_semana
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995.0,12.451801,0.0
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,4.043035,4.0
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000,4.0
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995.0,5.090760,4.0
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,inf,4.0

In [370]:
movies3=movies2

In [327]:
if 19730 in movies3.index:
   print ('La fila con la etiqueta 19730 existe en el DataFrame')
else:
    print('no')

no

In [328]:
def save_jason_loads(s):
    try:
        return json.loads(s)
    except:
        return None

In [371]:
movies3["production_companies"] = movies3["production_companies"].apply(lambda x: str(x))
movies3["production_companies"] = movies3["production_companies"].str.replace("'", '"')
movies3["production_companies"] = movies3["production_companies"] .astype(str)

df_pc_dict = movies2["production_companies"].apply(save_jason_loads)
# Convertir el diccionario a un DataFrame
df_pc = pd.json_normalize(df_pc_dict)

In [377]:
df=pd.json_normalize(movies3['production_countries'].map(eval))

In [378]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,"{'iso_3166_1': 'US', 'name': 'United States of...",None,None,None,None,None,None,None,None,None,None,None
1,"{'iso_3166_1': 'US', 'name': 'United States of...",None,None,None,None,None,None,None,None,None,None,None
2,"{'iso_3166_1': 'GB', 'name': 'United Kingdom'}","{'iso_3166_1': 'US', 'name': 'United States of...",None,None,None,None,None,None,None,None,None,None
3,"{'iso_3166_1': 'US', 'name': 'United States of...",None,None,None,None,None,None,None,None,None,None,None
4,"{'iso_3166_1': 'US', 'name': 'United States of...",None,None,None,None,None,None,None,None,None,None,None

In [372]:
movies3=movies3.dropna()

In [376]:
def aplanar(columna):
    L = []
    if isinstance(columna, str):
        for i in ast.literal_eval(columna):
            L.append(i['name'])
    return L

In [379]:
df.apply(aplanar)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Index: []

In [375]:
print(movies3['production_countries'].unique())

["[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'RU', 'name': 'Russia'}]"
 "[{'iso_3166_1': 'AT', 'name': 'Austria'}, {'iso_3166_1': 'CH', 'name': 'Switzerland'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'NZ', 'name': 'New Zealand'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 '[]'
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'FR', 'name': 'France'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}]"
 "[{'iso_3166_1': 'JP', 'name': 'Japan'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'SN', 'name': 'Senegal'}]"
 "[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IS', 'name': 'Iceland'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'RU', 'name': 'Russia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IE', 'name': 'Ireland'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'BR', 'name': 'Brazil'}, {'iso_3166_1': 'PE', 'name': 'Peru'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'FR', 'name': 'France'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IE', 'name': 'Ireland'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'ZA', 'name': 'South Africa'}, {'iso_3166_1': 'BW', 'name': 'Botswana'}]"
 "[{'iso_3166_1': 'BW', 'name': 'Botswana'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'ZA', 'name': 'South Africa'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'JP', 'name': 'Japan'}]"
 "[{'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IS', 'name': 'Iceland'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]"
 "[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'HR', 'name': 'Croatia'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'BS', 'name': 'Bahamas'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'AR', 'name': 'Argentina'}, {'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IS', 'name': 'Iceland'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'TW', 'name': 'Taiwan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IE', 'name': 'Ireland'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IE', 'name': 'Ireland'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]"
 "[{'iso_3166_1': 'NZ', 'name': 'New Zealand'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'BE', 'name': 'Belgium'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'HU', 'name': 'Hungary'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IL', 'name': 'Israel'}]"
 "[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'SG', 'name': 'Singapore'}, {'iso_3166_1': 'TH', 'name': 'Thailand'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'AU', 'name': 'Australia'}]"
 "[{'iso_3166_1': 'AR', 'name': 'Argentina'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IL', 'name': 'Israel'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'PA', 'name': 'Panama'}]"
 "[{'iso_3166_1': 'TH', 'name': 'Thailand'}]"
 "[{'iso_3166_1': 'PE', 'name': 'Peru'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'SE', 'name': 'Sweden'}]"
 "[{'iso_3166_1': 'PL', 'name': 'Poland'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]"
 "[{'iso_3166_1': 'RO', 'name': 'Romania'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IE', 'name': 'Ireland'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DK', 'name': 'Denmark'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
 "[{'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'NO', 'name': 'Norway'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'SG', 'name': 'Singapore'}]"
 "[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
 "[{'iso_3166_1': 'PT', 'name': 'Portugal'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'FI', 'name': 'Finland'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'TH', 'name': 'Thailand'}, {'iso_3166_1': 'AU', 'name': 'Australia'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'MT', 'name': 'Malta'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IT', 'name': 'Italy'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'BR', 'name': 'Brazil'}]"
 "[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso_3166_1': 'SI', 'name': 'Slovenia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IE', 'name': 'Ireland'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'HR', 'name': 'Croatia'}]"
 "[{'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'ZA', 'name': 'South Africa'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'IN', 'name': 'India'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}]"
 "[{'iso_3166_1': 'IR', 'name': 'Iran'}, {'iso_3166_1': 'CH', 'name': 'Switzerland'}, {'iso_3166_1': 'TN', 'name': 'Tunisia'}, {'iso_3166_1': 'HU', 'name': 'Hungary'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'UA', 'name': 'Ukraine'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'ZA', 'name': 'South Africa'}]"
 "[{'iso_3166_1': 'IR', 'name': 'Iran'}, {'iso_3166_1': 'FR', 'name': 'France'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'DK', 'name': 'Denmark'}]"
 "[{'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'BG', 'name': 'Bulgaria'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'IS', 'name': 'Iceland'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'FR', 'name': 'France'}]"
 "[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'CN', 'name': 'China'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_3166_1': 'CN', 'name': 'China'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]"
 "[{'iso_3166_1': 'ZA', 'name': 'South Africa'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'RO', 'name': 'Romania'}]"
 "[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'BE', 'name': 'Belgium'}]"
 "[{'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}]"
 "[{'iso_3166_1': 'IN', 'name': 'India'}]"
 "[{'iso_3166_1': 'RU', 'name': 'Russia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'GR', 'name': 'Greece'}]"
 "[{'iso_3166_1': 'NL', 'name': 'Netherlands'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'BE', 'name': 'Belgium'}]"
 "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'IN', 'name': 'India'}]"
 "[{'iso_3166_1': 'ZA', 'name': 'South Africa'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'iso_3166_1': 'CN', 'name': 'China'}]"
 "[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'AE', 'name': 'United Arab Emirates'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}]"
 "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
 "[{'iso_3166_1': 'AE', 'name': 'United Arab Emirates'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'AU', 'name': 'Australia'}]"
 "[{'iso_3166_1': 'ID', 'name': 'Indonesia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'FR', 'name': 'France'}]"

In [374]:
movies3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2572 entries, 2 to 45358
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  2572 non-null   object
 1   budget                 2572 non-null   float64
 2   genres                 2572 non-null   object
 3   id                     2572 non-null   object
 4   original_language      2572 non-null   object
 5   overview               2572 non-null   object
 6   popularity             2572 non-null   object
 7   production_companies   2572 non-null   object
 8   production_countries   2572 non-null   object
 9   release_date           2572 non-null   datetime64[ns]
 10  revenue                2572 non-null   float64
 11  runtime                2572 non-null   float64
 12  spoken_languages       2572 non-null   object
 13  status                 2572 non-null   object
 14  tagline                2572 non-null   object
 15  title                  2572 non-null   object
 16  vote_average           2572 non-null   float64
 17  release_year           2572 non-null   float64
 18  return                 2572 non-null   float64
 19  dia_semana             2572 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(12)
memory usage: 422.0+ KB

In [343]:
movies3['production_countries'].isna().sum()

0

In [188]:
def safe_json_loads(s):
    try:
        return json.loads(s)
    except:
        return {}

movies2['production_countries'] = movies2['production_countries'].fillna('{}')
movies2 = pd.json_normalize(movies2['production_countries'].apply(safe_json_loads))

In [381]:
movies3['production_countries']=movies3['production_countries'].apply(aplanar)

C:\Users\Jose\AppData\Local\Temp\ipykernel_1324\3556872222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies3['production_countries']=movies3['production_countries'].apply(aplanar)

In [384]:
movies3.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,dia_semana
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[""Warner Bros."", ""Lancaster Gate""]",[United States of America],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000,4.0
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[""Sandollar Productions"", ""Touchstone Pictures""]",[United States of America],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,inf,4.0
9,James Bond Collection,58000000.0,"[Adventure, Action, Thriller]",710,en,James Bond must unmask the mysterious head of ...,14.686036,"[""United Artists"", ""Eon Productions""]","[United Kingdom, United States of America]",1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,6.6,1995.0,6.072311,3.0
12,Balto Collection,0.0,"[Family, Animation, Adventure]",21032,en,An outcast half-wolf risks his life to prevent...,12.140733,"[""Universal Pictures"", ""Amblin Entertainment"",...",[United States of America],1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,7.1,1995.0,inf,4.0
18,Ace Ventura Collection,30000000.0,"[Crime, Comedy, Adventure]",9273,en,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,"[""O Entertainment"", ""Warner Bros."", ""Morgan Cr...",[United States of America],1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,6.1,1995.0,7.079518,4.0

In [221]:
def aplanar(columna):
    L = []
    if isinstance(columna, str):
        for i in ast.literal_eval(columna):
            L.append(i['name'])
    return L

In [222]:
movies2['production_countries'] = movies2['production_countries'].apply(aplanar)

In [390]:
def peliculas_pais(df, pais):
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    cantidad = sum(df['production_countries'].apply(lambda x: pais in x))
    return {'pais':pais, 'cantidad':cantidad}

In [391]:
resultado = peliculas_pais(movies3, 'United States of America')
print(resultado)

{'pais': 'United States of America', 'cantidad': 1999}

In [394]:
def productoras(movies2, productora):
    # Filtra el DataFrame por la productora especificada
    filtro = movies2[movies2['production_companies'].apply(lambda x: productora in x)]
    # Cuenta el número de películas
    cantidad = filtro['title'].count()
    # Calcula la ganancia total
    ganancia_total = filtro['revenue'].sum()
    # Devuelve el resultado en el formato especificado
    result = {'productora': productora,
              'cantidad': cantidad,
              'ganancia_total': ganancia_total}
    return result

In [410]:
result = productoras(movies3, 'Pixar Animation Studios')
print(result)

{'productora': 'Pixar Animation Studios', 'cantidad': 10, 'ganancia_total': 6843066554.0}

In [408]:
def retorno(df, pelicula):
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo'''
    mask = df['title'] == pelicula
    inversion = df[mask]['budget'].sum()
    ganancia = df[mask]['revenue'].sum()
    retorno = (ganancia - inversion) / inversion if inversion != 0 else 0
    anio = df[mask]['release_year'].sum()
    return {'pelicula':pelicula, 'inversion':inversion, 'ganancia':ganancia,'retorno':retorno, 'anio':anio}

In [411]:
resultado = retorno(movies3, 'Grumpier Old Men')
print(resultado)

{'pelicula': 'Grumpier Old Men', 'inversion': 0.0, 'ganancia': 0.0, 'retorno': 0, 'anio': 1995.0}