In [92]:
import pandas as pd
import json
import ast 
#importar dataset
movies=pd.read_csv('movies_dataset.csv',sep=',')
movies.head()

C:\Users\Jose\AppData\Local\Temp\ipykernel_8252\545809220.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_dataset.csv',sep=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [93]:
def convertir1(object):  ## funciona con genres, 
    Lista = []
    for i in ast.literal_eval(object):
        Lista.append(i['name'])
    return Lista

movies["genres"]=movies["genres"].apply(convertir1) #desanidamos genres y extraemos names

In [94]:
#esta funcion sirve para lista de diccionarios con string
def convertir2(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        dic = ast.literal_eval(obj)

        return dic['name']
## desanido bellongs
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(convertir2)

In [95]:
#desanidar production_companies
def convertir3(obj): 
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
movies['production_companies'] = movies['production_companies'].apply(convertir3)

In [96]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [97]:
#reemplazamos los valores nulos de las columnas budget y revenue por cero en nuestro data frame movies 2
movies['budget']=movies['budget'].fillna(0)
movies['revenue']=movies['revenue'].fillna(0)

In [98]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [99]:
#se eliminan los valor nulos de la columna release date
movies=movies.dropna(subset=['release_date'])

In [100]:
#estos valores no tenian sentido dentro del dataframe por lo tanto pocedo a eliminarlos

movies=movies.drop(movies[movies['release_date']=='False'].index)
movies=movies.drop(movies[movies['release_date']=='Warlock'].index)
movies=movies.drop(movies[movies['release_date']=='Kung Pow: Enter the Fist'].index)
movies=movies.drop(movies[movies['release_date']==1].index)
movies=movies.drop(movies[movies['release_date']=='1'].index)
movies=movies.drop(movies[movies['release_date']==13].index)
movies=movies.drop(movies[movies['release_date']==2].index)
movies=movies.drop(movies[movies['release_date']==5.0].index)
movies=movies.drop(movies[movies['release_date']==4.6].index)
movies=movies.drop(movies[movies['release_date']==7.3].index)
movies=movies.drop(movies[movies['release_date']==6.6].index)
movies=movies.drop(movies[movies['release_date']==5.1].index)
movies=movies.drop(movies[movies['release_date']==6.4].index)
movies=movies.drop(movies[movies['release_date']=='/xGiaXH17qJyk5cy2gRcHJvEGIqZ.jpg'].index)
movies=movies.drop(movies[movies['release_date']=='Beauty and the Bastard'].index)
movies=movies.drop(movies[movies['release_date']=='Bye-Bye Bin Laden'].index)
movies=movies.drop(movies[movies['release_date']=='/u6YDFe0ix9hMtQeD4ASOXC15I21.jpg'].index)
movies=movies.drop(movies[movies['release_date']=='Trog'].index)
movies = movies.drop(movies[movies['release_date'] == 0].index)

In [101]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [102]:
#le damos formate de fecha a la columna de release_dae
movies['release_date']=pd.to_datetime(movies['release_date'],format='%Y-%m-%d',errors='coerce')

In [103]:
#crear la columna release_year
movies['release_year']=movies['release_date'].dt.year

In [104]:
#convertimos los datos en datos numericos para realizar las operaciones
import numpy as np  
movies['revenue']=pd.to_numeric(movies['revenue'],errors='coerce')
movies['budget']=pd.to_numeric(movies['budget'],errors='coerce')

In [105]:
#creamos la columna return con la operacion que se indico.
movies['return']=movies['revenue']/movies['budget']
movies['return']=movies['return'].fillna(0)
movies['return'].head()

0    12.451801
1     4.043035
2     0.000000
3     5.090760
4          inf
Name: return, dtype: float64

In [106]:
movies['poster_path'].head()

0    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1    /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2    /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3    /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4    /e64sOI48hQXyru7naBFyssKFxVd.jpg
Name: poster_path, dtype: object

In [107]:
#eliminamos las columnas innecesarias. 
movies=movies.drop(['video','imdb_id','adult','original_title','vote_count','poster_path','homepage'],axis=1)

In [108]:
movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995.0,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995.0,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,inf

In [109]:
import pandas as pd
import numpy as np

# Reemplaza los valores float por NaN
movies['production_countries'] = movies['production_countries'].apply(lambda x: np.nan if isinstance(x, float) else x)

# Elimina las filas con valores NaN o vacíos en la columna 'production_countries'
movies.dropna(subset=['production_countries'], inplace=True)
movies = movies[movies['production_countries'].str.len() > 0]

In [116]:
movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,dia_semana
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995.0,12.451801,0.0
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,4.043035,4.0
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000,4.0
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995.0,5.090760,4.0
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,inf,4.0

In [117]:
def save_jason_loads(s):
    try:
        return json.loads(s)
    except:
        return None

In [118]:
movies["production_companies"] = movies["production_companies"].apply(lambda x: str(x))
movies["production_companies"] = movies["production_companies"].str.replace("'", '"')
movies["production_companies"] = movies["production_companies"] .astype(str)

df_pc_dict = movies["production_companies"].apply(save_jason_loads)
# Convertir el diccionario a un DataFrame
df_pc = pd.json_normalize(df_pc_dict)

In [119]:
df4 =pd.json_normalize(movies['production_countries'].map(eval))

In [120]:
Id = []
Names= []
for i in range(25):
    nid = 'iso_3166_1'+ str(i)
    nam = 'name'+ str(i)
    Id.append(nid)
    Names.append(nam)
    df4[nid]= pd.json_normalize(df4[i])['iso_3166_1']
    df4[nam] = pd.json_normalize(df4[i])['name']

In [121]:
col= list(range(25))

In [122]:
df4.drop(columns=col, inplace=True)
df4['id_countrie'] = df4[Id].apply(
    lambda x: ',' .join(x.dropna().astype(str)),
    axis = 1)
df4['name_countrie'] = df4[Names].apply(
    lambda x: ',' .join(x.dropna().astype(str)),
    axis = 1)
df4['id_countrie'].replace('', np.nan, inplace=True)
df4['name_countrie'].replace('', np.nan, inplace=True)
df4.drop(columns=Id, inplace= True)
df4.drop(columns=Names, inplace= True)
df4

       id_countrie                                      name_countrie
0               US                           United States of America
1               US                           United States of America
2               US                           United States of America
3               US                           United States of America
4               US                           United States of America
...            ...                                                ...
45373  CA,DE,GB,US  Canada,Germany,United Kingdom,United States of...
45374           PH                                        Philippines
45375           US                           United States of America
45376           RU                                             Russia
45377           GB                                     United Kingdom

[45378 rows x 2 columns]

In [123]:
movies=pd.concat([movies,df4],axis=1)

In [124]:
movies=movies.drop(labels='production_countries', axis=1)

In [125]:
movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,release_year,return,dia_semana,id_countrie,name_countrie
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[""Pixar Animation Studios""]",1995-10-30,373554033.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995.0,12.451801,0.0,US,United States of America
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[""TriStar Pictures"", ""Teitler Film"", ""Intersco...",1995-12-15,262797249.0,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,4.043035,4.0,US,United States of America
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[""Warner Bros."", ""Lancaster Gate""]",1995-12-22,0.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000,4.0,US,United States of America
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[""Twentieth Century Fox Film Corporation""]",1995-12-22,81452156.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995.0,5.090760,4.0,US,United States of America
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[""Sandollar Productions"", ""Touchstone Pictures""]",1995-02-10,76578911.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,inf,4.0,US,United States of America

In [134]:
movies['production_companies']=movies['production_companies'].str.replace('"', '').str.replace('[', '').str.replace(']', '')